<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.mapper.ItripCommentMapper">
  <resultMap id="BaseResultMap" type="cn.itrip.pojo.ItripComment">
    <!--@mbg.generated-->
    <!--@Table itrip_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotel_Id" jdbcType="BIGINT" property="hotelId" />
    <result column="product_Id" jdbcType="BIGINT" property="productId" />
    <result column="order_Id" jdbcType="BIGINT" property="orderId" />
    <result column="product_Type" jdbcType="INTEGER" property="productType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="user_Id" jdbcType="BIGINT" property="userId" />
    <result column="is_HavingImg" jdbcType="INTEGER" property="isHavingimg" />
    <result column="position_Score" jdbcType="INTEGER" property="positionScore" />
    <result column="facilities_Score" jdbcType="INTEGER" property="facilitiesScore" />
    <result column="service_Score" jdbcType="INTEGER" property="serviceScore" />
    <result column="hygiene_Score" jdbcType="INTEGER" property="hygieneScore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="trip_Mode" jdbcType="BIGINT" property="tripMode" />
    <result column="is_Ok" jdbcType="INTEGER" property="isOk" />
    <result column="creation_Date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_By" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_Date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_By" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotel_Id, product_Id, order_Id, product_Type, content, user_Id, is_HavingImg, 
    position_Score, facilities_Score, service_Score, hygiene_Score, score, trip_Mode, 
    is_Ok, creation_Date, created_By, modify_Date, modified_By
  </sql>
</mapper>