<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.mapper.ItripImageMapper">
  <resultMap id="BaseResultMap" type="cn.itrip.pojo.ItripImage">
    <!--@mbg.generated-->
    <!--@Table itrip_image-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="target_Id" jdbcType="BIGINT" property="targetId" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="img_Url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="creation_Date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_By" jdbcType="BIGINT" property="createdBy" />
    <result column="modify_Date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modified_By" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, target_Id, `position`, img_Url, creation_Date, created_By, modify_Date, 
    modified_By
  </sql>
</mapper>